body{
    border-color: black;  
    font-family: "Times New Roman", Times, serif;
}
form{
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #000;
    border-width: 1px;
}
.formclass{
    border: 10px;
    border-color: black; 
}
label{
    width: 70%;
    border: 1px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
    
}
input{
    display: none;
    margin-left: 10%;
    width: 50%;
    border: 1px;
    border: 10px;
    
}

.input-file-btn{
    width: 100%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    border: solid #000;
    border-width: 1px;

    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 40px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 45px;
	background-color: #419152;
	line-height: 42px;
	height: 80px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
button{
    margin-top: 5%;
    margin-bottom: 10%;
    width: 70%;
    height: 20%;
    border: solid #000;
    border-width: 1px;
    font-family: "Times New Roman", Times, serif;
    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 40px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 45px;
	background-color: #f80418;
	line-height: 42px;
	height: 80px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
img{
    width: 70%;
    border: none;
    
}
.img_container{
    border: 1px;
    width: 70%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0%;
    flex-direction: column;
    align-items: center;
    
}
#imgElem{
    border-color: rgb(9, 145, 38);
    display: none;
}
#ya_url{
    text-decoration: none;
    display: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}
#gettext{
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}
.answer{
    
    text-align: center;
}


button:hover {
    cursor: pointer;
    opacity: 0.6;
    
  }
  button:active {
    cursor: pointer;
    opacity: 1;
    background-color: #880510;
  }
label:hover {
    cursor: pointer;
    opacity: 0.6;
    
  }
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
button[disabled]:hover {
    opacity: 1;
    border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}